/*All*/
*
{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body
{
  background-color: green;
}

/*Header*/
header
{
  width: 100%;
}

#header, .article
{
  width: 100%;
}
